body{
    margin: 0px;
    /* padding: 0px; */
    /* width: 100%; */
/* overflow-x: hidden; */
}
/* .div{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: orange;
} */

.hero {
    background-color: orange;
    /* min-height: 100vh; */
    width: 100%;
    background-image: url(./assets/orange-backdrop\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* display: flex; */
    /* display: flex; इसे एक Flex कंटेनर बनाएं */
    /* flex-direction: column; ताकि सब कुछ एक के नीचे एक (vertically) स्टैक हो */
    /* align-items: flex-start; */
    
   
}
.text p{
    display: inline-block;
}

.hero p{
    display: inline-block;
}

.hero img{
    max-width: 100%;
    height:auto;
}

section{
     width: 100%;
}
.jhalar {
    width: 220px;
    margin-bottom: -180px;
}
.hero p{
    font-size: 50px;
    font-family: salsa ;
    max-width: 650px;
    /* margin-left: 15rem; */
    display: inline-block;
}

.text{
    margin-left: 15rem;
    /* display: inline-block; */
}

audio::-webkit-media-controls-panel {
    background-color: #FBD8A4;
    color: black;
}

.audio{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #FBD8A4;
    padding: 5px 10px;
    /* max-width: 31rem;*/
    max-width: max-content;
    gap: 10px;
}


h4{
    margin: 0px;
}

.main{
    background-color: orange;
    /* display: flex; */
    justify-content: center;
    /* align-items: center; */
    padding: 1rem;
    padding-bottom: 0px;
    padding-top: 3rem;
}
.main image{
    /* display: block;
    margin-inline: auto; */
    /* margin-block: 30px; */
    max-width: 900px;
    width: 100%;
}
/* second section */





.second {
  display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
}

.second p{
    font-size: 5rem;
    font-family: style script;
}



@media (max-width : 845px) {
    .first-deep{
        display: block;
        margin-left: auto;
    }

.second-deep,h4,.music-icon{
display: none;
}

.text{
 width: 100%;
    margin-left: 0px;
    box-sizing: border-box;
    padding-left: 1rem;
}

 .hero {
        /* flex-direction: column; */
        /* padding: 12px; */
        width: 100%;
    }

    .jhalar{
        margin-bottom: 0px;
    }

.audio{

width: 100%;
}



}

@media (max-width:540px) {
    .text{
        font-size: 24px;
        width: 100%;
    }

    .first-deep{
        width:100%;
    }

}

.horizontal{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 1210px;
       margin: 30px;
       padding: 30px;
 
}
.hori{
    height: 4px;
    width: 468px;
    background-color: white;
}

.circle{
    height: 4px;
    width: 4px;
    border-radius: 50px;
    background-color: white;
}

.section{
    display: flex;
   justify-content: center;
   align-items: center;
  /* padding-top: 20px; */
   background-color: orange;
}

.section img{
    display: block;
    margin-inline: auto;
     /* max-width: 900px; */
}

.section p{
    font-size: 5rem;
    text-align: center;
    display: block;
    font-family: style script;

}

.big{
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

.big img{
    margin-left: -150px;
}
.card{
    height: 800px;
    width: 800px;
    background-color: white;
    border-radius: 15px;
    font-family: style script;
    font-size: 3.8rem;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding-block: 10px;
    padding-inline: 60px;
}
